upstream guihon_catalogue {
    server {{ server_name }};
}

server{
    listen 80;
    listen [::]:80;

    server_name {{ server_dns }};

    location / {

        proxy_pass http://guihon_catalogue;
    }
}
